
:root{
  background: black;
  color: white;
}
#welcome {
  text-align: center;
  text-shadow: 2px 2px 4px rgba(22,44,334,0.5);
}

h3 {
  text-align: right;
}

#login {
  text-align: center;
  text-shadow: 2px 2px 4px rgba(22,45,334,0.7);
}

#log_de {
  
  padding: 50px;
  padding-top: 10px;
  padding-bottom: 30px;
  margin: 30px;
  text-align: justify;
  background: lightgray;
  border-radius: 20px;
  border-color: black;
  border: 2px;
  border-style: solid;
  box-shadow: 7px 10px 40px rgba(22,45,334,0.75);
  
  h4 {
    color: black;
    margin-top: 30px;
    margin-bottom: 6px;
  }
}

#username, #password {
  
  padding: 8px;
  padding-left: 60px;
  padding-right: 60px;
  padding-inline-start: 2px;
  border-radius: 10px;
  background: papayawhip;
  border-color: black ;
  border-style: solid;
  box-shadow: 0 5px 20px rgba(22,45,334,0.75);
  
}

#logbu {
  padding: 6px;
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 20px;
  margin-left: 144px;
  border-radius: 8px;
  background: wheat;
  border-color: black;
  border-style: solid;
  box-shadow: 0 8px 20px rgba(80,45,345,0.75);
}

#msg {

}